@{
    ViewBag.Title = "fenjay labs";
}


<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">
<a href="/EveShipIdQuiz"><img src="images/eve-ship-id-link.jpg" alt="Eve Online Ship Identification Quiz" /></a>
<br />

</div>

<div class="contactfooter"> <!--style="border-top:20px;margin-left:65px;width:980px;background-color:#202020;"-->
<p style="color:White">Contact Me:<br />
Twitter:&nbsp;<a href="http://twitter.com/fenjayminor" target="_blank">Fenjayminor</a><br />
Email: fenjay at fenjaylabs<br />
</p>
</div>


