@{
    ViewBag.Title = "Eve Ship ID Roadmap";
}

<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">

<h3>Site roadmap: Updates and improvements to be made in the near future</h3>
<ul>
<li>
Store score/progress in a cookie and resume on return to quiz
</li>
<li>
Feature: recap quiz (got these ships correct, missed these ships) with icons
</li>
<li>
Make footer sticky.
</li>
<li>
Designate max length for info panel and match the placeholder's size to it. if the description is too long, provide a ... link to expand. 
</li>
<li>
Add control panel
</li>
<li>
<ul>
<li>
Timed Quiz y/n
</li>
<li>
Bonus Questions y/n (shield or armor tanked? etc.)
</li>
<li>
Advanced Ship id y/n (Capitals, Pirate/rare)
</li>
<li>
Other?? (Contact me with suggestions)
</li>
</ul>
</li>
<li>
Add help page/graphic (screenshot with helpful arrows)
</li>
<li>
Further clean up description text
</li>
</ul>

<a href="/EveShipIdQuiz">Back to Quiz >>></a>

</div>

<div class="contactfooter"> <!--style="border-top:20px;margin-left:65px;width:980px;background-color:#202020;"-->
<p style="color:White">Contact Me:<br />
Twitter:&nbsp;<a href="http://twitter.com/fenjayminor" target="_blank">Fenjayminor</a><br />
Email: fenjay at fenjaylabs<br />
</p>
</div>


