body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #989898;
    background-color: #404040;
}

header, footer, nav, section {
    display: block;
}

a
{
    color:#FFFFFF;
}

a:visited
{
    color:#666666;
}

.headeranchor
{
    font-size:large;
    font-family:Arial;
    vertical-align:bottom;
}

img
{
    border-style:hidden;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

div
{
    padding:15px;
}


.quizpageheader
{
    min-width:1175px;
    float:left;
    height:auto;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:2px;
}

.siteheader
{
    background-color:#202020;
    width:1045px;
    border-color:#555555;
    border-style:solid;
}


.rightheader
{
    width:40%;
    float:left;
    height:40px;
}

.maincontent
{
    margin-left:65px;
    height:600px;
    width:980px;
    background-color:#202020;
    border-color:#444444;
    border-style:solid;
    border-top-style:hidden;
    
}

.contactfooter
{
    margin-left:65px;
    width:980px;
    background-color:#202020;
    border-color:#444444;
    border-style:solid;
    border-top-style:hidden;
    
}

.correctanswer 
{
    background-color:Green;
    color:Black;
    width:50px;
    height:50px;
    float:left;
}

.wronganswer 
{
    background-color:Red;
    color:Black;
    width:50px;
    height:50px;
    float:left;
}

.nextButton
{
    background-color: Navy;
    color:White;
    width:30px;
    height:20px;
    cursor: pointer;
    font-size:smaller;
    float:left;
    display:inline-block;
}

.outer
{
    width:100%;
    text-align:center;
}

/*background-color:#FFA500; eve website header color*/

.quizheader
{
    font-size:x-large;
    background-color:#000099;
    color:White;
    width:auto;
    min-width:120px;
    display:inline-block;
}


.innerquiz
{
    width:450px;
    overflow:hidden;
    display: table;
    text-align:center;
    margin-left:65px;
    float:left;
}

.divider
{
    width:550px;
    float:left;
    padding:50px;
}

.shipdescription
{
    overflow:visible;
    width:600px;
    min-height:450px;
    height:auto;
    display:none;
    float:left;
}

.qmarkdiv
{
    float:left;
    display:table;
    background-color:#222222;
    opacity:0.5;
    width:600px;
    height:450px;
    border-style:dotted;
}

.completion
{
    width:120px;
    height:10px;
    display:none;
    color:Black;
    font-family:Arial;
    cursor:default;
    font-style:italic;
    vertical-align:middle;
}

.answerbar
{
    width:350px;
    height:20px;
    background-color:#3399FF;
    vertical-align:middle;
    margin:10px;
    text-align:center;
    font-size:large;
    color:Black;
    display:inline-block;
    cursor:default;
}

.quizresults
{
    display:none;
    font-size:xx-large;
    width:750px;
    margin-left:50px;
}

p
{
    font-size:medium;
}

.headertext
{
    font-size:large;
    font-family:Arial;
   
}

table
{
    border-width:5px;
    border-style:dotted;
    width:100%;
}

.corplisting
{
    border-width:5px;
    border-style:solid;
    border-color:gray;
    width:90%;
    
}

td
{
    border-width:5px;
    border-style:solid;
    border-color:gray;
}

