@model Eve_Ship_ID.Models.EveCharacterModel
@{
    ViewBag.Title = "EveCharacterEdit";
}
<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">

<img src="@Model.ImgURL" />
<h1>Edit page for @Model.EveCharacter.characterName</h1>

<a href=".?
</div>