@model Eve_Ship_ID.Models.CorpSecurityModel
@{
    ViewBag.Title = "Eve Online Corp Security";
}


<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">
<table class = "corplisting">
<tr><th>Name</th></tr>
<tr><td><a href="CorpSecurity/CorporationView/98340372">SUPREME MATHEMATICS</a></td></tr>
</table>
</div>

<div class="contactfooter"> 
<p style="color:White">Contact Me:<br />
Twitter:&nbsp;<a href="http://twitter.com/fenjayminor" target="_blank">Fenjayminor</a><br />
Email: fenjay at fenjaylabs<br />
</p>
</div>


